# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# Environment files
.env
.env.*
!.env.example

# SQLite / Database
*.sqlite3
db.sqlite3
db.sqlite3-journal
